# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules
*package-lock.json
# *secrets.json
*.pnp
*.pnp.js

# testing
*coverage

# production
*build
*dist
*.cache

# ignore IDE files
*.vscode*
*.idea*
*.iml

# misc
*.DS_Store*
# *.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
