.env

# Ignore node_modules
node_modules/
package-lock.json

# Ignore built files
dist/

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore macOS-specific files
.DS_Store

# Ignore npm debugging logs
npm-debug.log*